<div class="column is-one-quarter">
  <nav class="panel">
    <p class="panel-heading">Active Events</p>
    <a class="panel-block">
      Event Name - Open Position Type
    </a>
    <a class="panel-block">
      Event Name - Open Position Type
    </a>
    <a class="panel-block">
      Event Name - Open Position Type
    </a>
    <a class="panel-block">
      Event Name - Open Position Type
    </a>
    <a class="panel-block">
      Event Name - Open Position Type
    </a>
    <a class="panel-block">
      Event Name - Open Position Type
    </a>
  </nav>
</div>